.loaderContainer{
	display: flex;
	justify-content: center;
	height: calc(100vh - 110px);
	align-items: center;
}

.comments {
	padding-top: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.comments .comment, .add_comment {
	width: 95%;
}

.centerLoader{
	display: flex;
	justify-content: center;
}
