.commentAuthor p {
  padding: 0 1rem;
}

.replyContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.replyButton {
	display: flex;
	justify-content: flex-end;
	padding: 5px;	
}

.timestamp {
  padding-top: 1rem;
  text-align: right;
}

.comment {
  margin: 0.5rem 0;
}

.replies {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.replies .comment {
  width: 92%;
}

.commentCard {
  padding: 1rem;
}

.commentAuthor {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.loadMore {
  align-self: center;
  margin: 0.5rem 0;
}
